:root {
    --primary-color: #76C86E;
    --secondary-color: #FFFFFE;
    --accent-color: #D6D6C3;
}

.first-line::first-line {
    color: var(--primary-color);
    font-style: italic;
}

p {
    text-align: justify;
}

.first-letter::first-letter {
    font-size: 2rem;
    color: red;
}


p::selection {
    background-color: aqua;
}

input::placeholder {
    text-align: center;
    color: var(--accent-color);
}

input {
    font-size: 2rem;

}

li::marker {
    content: '→ ';
    font-size: 1.5rem;
}

.after::after {
    content: ' ♥ Love';
}

.before::before {
    content: '→ ';
}