* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.text {
    text-align: center;
}

.main-container {
    display: flex;
    gap: 14px;
    flex-wrap: wrap;
}

.container {
    flex-basis: 100%;
}

@media screen and (min-width : 600px) {
    .container {
        flex-shrink: 1;
        flex-grow: 1;
        flex-basis: 22%;
    }
}